*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background-image: url(../images/1291249.png);
    background-size: cover;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

.container-1{
    width: 800px; /* Largura do quadrado */
    height: 410px; /* Altura do quadrado */
    background-color: #363638; /* Cor do quadrado */
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Coloca os itens em coluna em vez de linha (o padrão) */
    align-items: center; /* Alinha os itens no centro do contêiner */
}

.container-1 h1{
    background-size: cover;
    display: flex;
    position: relative;
    float: right;
    color: white;
    top: 40px; /* Ajuste conforme necessário para a posição vertical */
    left: -150px; /* Ajuste conforme necessário para a posição horizontal */
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container-1 p{
    color: rgb(160, 157, 157);
    background-size: cover;
    display: flex;
    position: relative;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 15px;
    top: 40px; /* Ajuste conforme necessário para a posição vertical */
    left: -170px; /* Ajuste conforme necessário para a posição horizontal */
}

.container-qr{
    width: 180px; /* Largura do quadrado */
    height: 180px; /* Altura do quadrado */
    background-image: url(../images/fakeQR_2.jpg);
    background-size: cover;
    display: flex;
    position: relative;
    float: right;
    top: -105px; /* Ajuste conforme necessário para a posição vertical */
    left: 240px; /* Ajuste conforme necessário para a posição horizontal */
}

.container-1 h2{
     background-size: cover;
     display: flex;
     position: relative;
     float: left;
     color: white;
     top: 185px; /* Ajuste conforme necessário para a posição vertical */
     left: 240px; /* Ajuste conforme necessário para a posição horizontal */
     font-size: 22px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
 }
 
 .container-1 h3{
    text-align: center;
    background-size: cover;
    display: flex;
    position: relative;
    color: rgba(255, 255, 255, 0.61);
     top: 200px; /* Ajuste conforme necessário para a posição vertical */
     left: 240px; /* Ajuste conforme necessário para a posição horizontal */
     font-size: 15px;
     font-weight: normal;
     font-family: Arial, Helvetica, sans-serif;
}

.form, input-container{
    background-size: cover;
    display: flex;
    position: relative;
    margin-bottom: 30px;
    top: -160px; /* Ajuste conforme necessário para a posição vertical */
    left: -170px; /* Ajuste conforme necessário para a posição horizontal */
}